<html>
  <title>Home</title>
  <head>
    <script>
      function openMail() {
        window.location.replace("new-mail");
      }
    </script>
  </head>
  <h1 class="inbox">Inbox</h1>
  <!-- <form enctype="multipart/form-data" action="/" method="POST">
    <input type="file" name="myFile">
    <input type="submit" class="btn btn-primary">
  </form> -->

  <ul>
    <div class="container">
      <div class="bg-dark mr-5 p-5 text-center">
        <div class="Uncategorized">
          <a href="/category/1" action="/Category/">Uncategorized</a>
        </div>
        <div class="holiday">
          <a href="/category/2" action="/Category/">Holiday Cards</a>
        </div>
        <div class="bills">
          <a href="/category/3" action="/Category/">Bills</a>
        </div>
        <div class="invitations">
          <a href="/category/4" action="/Category/">Invitations</a>
        </div>
        <div class="school">
          <a href="/category/5" action="/Category/">School Reports</a>
        </div>
        <div class="letters">
          <a href="/category/6" action="/Category/">Letters</a>
        </div>
        <div class="junk">
          <a href="/category/7" action="/Category/">Junk Mail</a>
        </div>
        <div class="gift">
          <a href="/category/8" action="/Category/">Gift Cards</a>
        </div>
        <div class="package">
          <a href="/category/9" action="/Category/">Packages</a>
        </div>
      </div>
    </div>
    <button class="new-mail-btn" onClick="openMail()">New Mail</button>
  </ul>
</html>
