<h2><%= currentUser.name %>'s Profile </h2>

<body>
    <div><%=mail.date%></div>
    <div><%=mail.title%></div>
    <img src="<%=mail.url%>"> <br>
    <a href="/">← Go Home</a>
    </body>
    </html>