<h2 class="profile-name"><%= currentUser.name %>'s Profile </h2>

<body>
    <div class="profile-title-date"><%=mail.date%>
    <div><%=mail.title%></div>
</div>
    <img src="<%=mail.url%>"> <br>

    </body>
    </html>