@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Belleza&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Capriola&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Capriola&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Capriola&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

body {
  background-image: url("../images/blueish.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

img {
  height: 400px;
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.opening-title {
  text-align: center;
  font-size: 50px;
  font-weight: 100px;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.navbar-container {
  width: 100%;
  background-color: rgb(226, 221, 199);
  overflow: auto;
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  display: inline-flex;
  font-family: "Poppins", sans-serif;
}

.navbar-su {
  display: flex;
  justify-self: center;
  font-family: "Poppins", sans-serif;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 98%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: "Poppins", sans-serif;
}

.category-list {
  text-align: center;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 39px;
  flex-wrap: wrap;
}

.logged-in-page {
  width: 100%;
  background-color: rgb(226, 221, 199);
  overflow: auto;
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  display: inline-flex;
  font-family: "Poppins", sans-serif;
}

.profile {
  margin-left: 15px;
}

.navbar-login {
  margin-left: 15px;
}

.inbox {
  text-align: center;
  font-family: "Capriola", sans-serif;
  margin-top: 10px;
  color: white;
}

.new-mail-btn {
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #1400f5;
  border: none;
  border-radius: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.cat-name {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  text-transform: capitalize;
  font-weight: 150px;
  font-size: 32px;
  color: white;
}

.mail-title {
  text-align: center;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  color: white;
}

.home-nav {
  margin-left: 15px;
}
.new-mail-title {
  text-align: center;
  font-size: 30px;
  font-family: "Capriola", sans-serif;
  color: white;
}

.drop-list {
  font-family: "Poppins", sans-serif;
}

input[type="submit"] {
  background: rgb(198, 255, 250);
  height: 30px;
  width: 150px;
  border-radius: 20px;
  margin-top: 15px;
}

.container {
  font-size: 25px;
  color: white;
}

.login-signup {
  text-align: center;
  color: white;
}

.edit {
  font-family: "Poppins", sans-serif;
  color: white;
}

.profile-title-date {
  text-align: center;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  color: white;
}

.profile-name {
  text-align: center;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  color: white;
  text-transform: capitalize;
}

.uncategorized {
  color: white;
}
